.leader-card {
  background: linear-gradient(
    160deg,
    rgba(138, 43, 226, 0.18),
    rgba(0, 180, 255, 0.12),
    rgba(0, 0, 0, 0.35)
  );

  border: 1px solid rgba(138, 43, 226, 0.4);
  border-radius: 18px;
  padding: 32px;
  width: 370px;
  text-align: center;

  backdrop-filter: blur(14px);

  transition: transform 0.35s ease, box-shadow 0.35s ease;
}

.leader-card:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow:
    0 25px 30px rgba(138, 43, 226, 0.35),
    0 0 20px rgba(0, 200, 255, 0.305);
}

.leader-img-wrap {
  width: 280px;              
  height: 280px;
  margin: 0 auto 15px;       
  display: flex;             
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  overflow: hidden;

  border: 3px solid transparent;
  background:
    linear-gradient(#000, #000) padding-box,
    linear-gradient(135deg, #8a2be2, #00c8ff) border-box;
}

.leader-img-wrap img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: scale(1.08);   
}
.leader-card:hover .leader-img-wrap {
  box-shadow: 0 0 25px rgba(170, 95, 153, 0.415);
}

.leader-name {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 6px;
}

.leader-role {
  font-size: 0.95rem;
  letter-spacing: 0.12em;
  opacity: 0.7;
  margin-bottom: 14px;
}
.leader-profile-btn {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 8px 18px;
  border-radius: 999px;

  font-size: 0.85rem;
  font-weight: 500;
  text-decoration: none;

  color: #000;
  background: linear-gradient(135deg, #00e5ff, #8a2be2);

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.leader-profile-btn:hover {
  transform: scale(1.08);
  box-shadow: 0 0 30px rgba(138, 43, 226, 0.6);
}
